
*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
/* shared style */
}
.font-open-sens{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
.logo h2{
    font-size: 45px;
    font-weight: 900px;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    color: white;
    cursor: pointer;

}
.btn:hover{
    background-color:black;
}

/* main style */
header{
    background-color: #FFF8F3;
    background: url(../images/developer.png), url(../images/header_bg.png),#FFF8F3; 
    background-position:23px 38px,bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;

    
}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.orange{
    color: #FD6E0A;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;   
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    text-decoration: none;
    color: #474747;



}

#banner{

    margin: 125px 40px 36px 228px;
    display: flex;
    align-items: center;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;

}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#about{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF8F3;
    border-radius: 10px;

}
#about .section-about{
    padding: 131px 157px;
}
#about .section-about{
    text-align: center;
}

#about .section-about .about-me p{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #757575;



}
#about .section-about .about-me h2{
    font-size: 35px;
    font-weight: bold;

}
#about .section-about .about-info{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content:space-around;
}
#skill, #resume{
    padding-top: 130px;
}
#skill .about-me{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}
.about-me h1{
    font-size: 35;
    font-weight: bold;
    color: black;
}
.about-me p{
    font-size: 18px;
    color: #757575;
    padding-top: 30px;
    line-height: 30px;
    padding: 50px;
}
#skill .class-contain{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;

} 
#skill .skill-box{
    display: flex;
    gap: 24px;
}
.card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #cec9c9;

    
}
.card img{
    max-width: 44px;
    margin-bottom: 30px;

}
.card h4{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    
}
.card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;

}
#resume .section-heading h2{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 113px;
    font-size: 35px;
    font-weight: bold;
    color: black;

}
#resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;

}
.resume-container h2{
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}
.resume-container .resume-card{
    max-width: 511px;
    margin-right: 47px;
    margin-bottom: 30px;
}
.resume-container .card-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
}
.resume-container .card-info{
    font-size: 20px;
    font-weight: 600px;
    color: #474747;
    margin-bottom: 20px;
}
.resume-container .card-text{
    font-size: 16px;
    color: #474747;
    max-width: 511px;
}

hr{
    margin-bottom: 30px;
}
#resume .button{
    margin-top: 50px;
    text-align: center;
}
#footer-container{
    background-color: #FFF8F3;
    margin-top: 113px;
    padding: 130px ;


}
#footer-container .footer{
    display: flex;
    gap: 24px;
    margin: 0 auto;
    width: 71%;
    max-width: 1600px;

}
#footer-container .footer-title h1{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}
#footer-container .footer-title p{
    max-width: 562px;
    font-size: 16px;
    color: #474747;
    margin-bottom: 30px;
    line-height: 28px;
}
#footer-container .footer-title .icons a{
    margin-right: 24px;
    width: 24px;
    height: 24px;

}
#footer-container .footer-form h1{
    margin-bottom: 20px;


}
#footer-container .footer-form input[type="text"],#footer-container .footer-form input[type="email"],#footer-container .footer-form textarea{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    color: #757575;

}







