
*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
/* shared style */
}
.font-open-sens{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
.logo h2{
    font-size: 45px;
    font-weight: 900px;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    color: white;

}
.btn:hover{
    background-color:black;
}

/* main style */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.orange{
    color: #FD6E0A;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;   
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    text-decoration: none;
    color: #474747;


}
